* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1D1D1F
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  all: unset;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}